*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #56baed;
}

.select_box, .play_board, .result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease;
}

.select_box{
    background-color: #ffffff;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 330px;
    width: 100%;
    transform: all  0.3s ease;
}

/* .select_box */
.hide{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);
}

.select_box header{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.select_box title{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}

.select_box .options{
    display: flex;
    width: 100%;
    margin: 10px 0;
}

.options button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    outline: none;
    background-color: #56baed;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.options button:hover,
.result_box .btn button:hover{
    transform: scale(0.96);
}

.options button.playerX{
    margin-right: 5px;
}

.options button.playerO{
    margin-left: 5px;
}

.play_board{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);
}

/* .play_board */
.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.play_board .details{
    background-color: #fff;
    padding: 7px;
    border-radius:5px;
    
}

.play_board .details .players{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative; 
}

.play_board .details span{
    color: #56baed;
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    font-weight: 500;
    cursor: default;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
}


/* .details span.active{
    background-color: #56baed;
    color: #fff;
} */
.details span:first-child{
    color: #fff;
}

.details .slider{
    position: absolute;
    background-color: #56baed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.3s ease;
}

.players.active span:first-child{
    color: #56baed;
}

.players.active span:nth-child(2){
    color: #fff;
}

.players.active .slider{
    left:50%
}

.play_board .play_area{
    margin-top: 20px;
}

.play_board section {
    display: flex;
}
.play_board section span{
    display: block;
    margin: 2px;
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 40px;
    color: #56baed;
    text-align: center;
    line-height: 80px;
    padding: 20px;
}

.result_box{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
   
}

.result_box .won_text{
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.result_box .won_text p{
    font-weight: 600;
    margin: 0 5px;
}

.result_box .btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.result_box .btn button{
   
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20;
    border: none;
    outline: none;
    background-color: #56baed;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}